@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  max-width: 1400px;
  padding: 0 2rem;
}

.flex {
  display: flex;
}

html {
  font-size: 62.5%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
  font-family: 'Poppins', sans-serif;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background: #000;

  min-height: 5rem;
}

header .flex {
  align-items: center;
  min-height: 5rem;
  font-size: 1.8rem;
  color: #fff;
}

.logo {
  background: #009688;
  padding: 0 2rem;
  align-items: center;
  height: 100%;
  gap: 1.5rem;
  font-weight: bold;
}

nav ul {
  gap: 2rem;
  padding: 0 2rem;
  flex: 1;
}
nav {
  width: 100%;
  align-items: center;
}

.hero {
  background: url(./assets/images/desert.jpg) 100%;
  height: 70vh;
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% 75vh,
    0 100%
  );
}

.hero .container {
  display: flex;
  height: 100%;
}

.hero h1 {
  background-color: #000;
  color: #fff;
  padding: 0.8rem 2rem;
  align-self: flex-end;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1px;
}

/*  */
.teams {
  margin: 5rem 0;
}
.teams .teams-header {
  text-align: center;
  margin: 5rem 0;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
}

.teams .flex {
  justify-content: space-evenly;
}

.teams img {
  border-radius: 50%;
  margin: 2rem auto;
  height: 15rem;
  width: 15rem;
  min-height: 10rem;
}

.team .one {
  text-align: center;
}

.team .one h4 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.teams span {
  font-size: 1.2rem;
  font-weight: 500;
}

.work {
  background-color: #333;
  padding: 5rem 2rem;
}

.work .flex {
  gap: 2%;
}
.worktext {
  color: #fff;
  align-self: center;
}

.worktext h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.worktext p {
  font-size: 1.4rem;
  text-align: justify;
  max-width: 90%;
}
.card {
  flex-basis: 25%;
  border-radius: 12px;
  overflow: hidden;
}
.card img {
  height: 250px;
  width: 100%;
}
.card:not(:first-child) {
  background-color: #fff;
}

.image-list {
  padding: 2rem;
}

.image-list h4 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.image-list li {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/*START FOOTER  */
footer {
  min-height: 150px;
  text-align: center;
  background-color: #000;
  color: #fff;
}
footer h4 {
  padding: 2rem 0;
  font-size: 2rem;
}
footer .flex {
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

footer a {
  background-color: #009688;
  height: 4.5rem;
  width: 4.5rem;
  background-color: #009688;
  display: grid;
  place-content: center;
  border-radius: 0.5rem;
}

footer i {
  color: #fff;
  font-size: 2rem;
}
/*END FOOTER  */

@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
  .flex:not(footer .flex) {
    flex-wrap: wrap;
  }
  .team.flex {
    flex-direction: column;
  }
  .work .flex {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .flex {
    flex-wrap: wrap;
  }
  .worktext {
    flex-basis: 100%;
    margin-bottom: 2rem;
  }

  .card:not(:first-child) {
    flex-basis: 32%;
    margin-bottom: 3%;
  }
  .hidden {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  .card:not(:first-child) {
    flex-basis: 48%;
  }
}

@media (min-width: 1025px) {
  .show {
    display: none;
  }
}
